.quiz-card{
    background-color:  var(--black);
    border: solid 2px var(--primary);
    justify-self: center; 
}

.btn-category{
    border: solid 2px var(--primary);
    background-color: var(--black);
    color: var(--primary);
   
}

.quiz-card:hover{
    box-shadow: 0 2px 8px 2px var(--primary);
}

.btn-category:hover{
       box-shadow: 0px 4px 8px 2px var(--primary);
}

.quiz-categories-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.categories-search{
    background-color: transparent;
    color: var(--primary);
    border: solid 2px var(--primary);
}

.categories-search::placeholder{
    color: var(--primary);
}

.categories-search:focus{
    box-shadow: 0px 4px 8px 2px var(--primary);
}